<div id="hero" class="overflow-hidden">
  <div class="info-wrapper w-2/5 h-full pt-40 pr-48 pb-5 pl-12">
    <div class="w-24 flex items-center justify-between">
      <img src="img/t-logo.svg" alt="Triptyklazza" class="w-5" />
      <span class="uppercase text-gray-700 text-sm">
        Series
      </span>
    </div>
    <div class="w-4/5 mt-5 mr-0 mb-2 ml-0">
      <img src="img/series/rickandmorty-logo.png" alt="Rick And Morty" class="w-full" />
    </div>
    <div class="text-white flex font-thin justify-between items-center text-sm w-32">
      <p class="year">
        2017
      </p>
      <p class="rating">
        16+
      </p>
      <p class="duration">
        3 Seasons
      </p>
    </div>
    <div class="text-gray-600 font-thin text-lg mx-0 my-4">
      Brilliant but boozy scientist Rick hijacks his fretful teenage grandson, Morty, for
            wild escapades in other worlds and alternate dimensions.
    </div>
    <div class="flex justify-between">
      <LinkTo @route="series.rickandmorty" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2 py-2">
        Watch now
      </LinkTo>
      <div class="flex justify-between">
        <a href="" class="like block border border-white opacity-75 w-8 h-8 hover:opacity-100">
          Like
        </a>
        <a href="" class="unlike block border border-white opacity-75 w-8 h-8 hover:opacity-100">
          Don't like
        </a>
      </div>
    </div>
  </div>
  <img src="img/series/rickandmorty-hero.jpg" alt="Rick And Morty" class="title-image absolute top-0 right-0 w-4/5" />
</div>
<div class="hero-content pb-32">
  <div class="slider relative s1" id="tvshows">
    <h2>
      Tv Shows
    </h2>
    <div class="slider-frame relative left-0">
      <div class="slider-container flex relative" {{slider-over}} {{slider-show}}>
        <ThumbMovie 
          @id="rickandmorty"
          @name="Rick and Morty"
          @route="series.rickandmorty"
          @thumbPath="img/series/rickandmorty-thumb.jpg"
          @year="2017"
          @rating="13"
          @numberSeason="3"
          @anchor="tvshows"
        />
        <ThumbMovie 
          @id="happy"
          @name="Happy"
          @route="application"
          @thumbPath="img/series/happy-thumb.jpg"
          @year="2019"
          @rating="16"
          @numberSeason="2"
          @anchor="tvshows"
        />
        <ThumbMovie 
          @id="disenchantment"
          @name="Disenchantment"
          @route="application"
          @thumbPath="img/series/disenchantment-thumb.jpg"
          @year="2019"
          @rating="13"
          @numberSeason="2"
          @anchor="tvshows"
        />
        <ThumbMovie 
          @id="papel"
          @name="la casa de Papel"
          @route="application"
          @thumbPath="img/series/papel-thumb.jpg"
          @year="2017"
          @rating="16"
          @numberSeason="3"
          @anchor="tvshows"
        />
        <ThumbMovie 
          @id="b99"
          @name="Brooklyn 99"
          @route="application"
          @thumbPath="img/series/b99-thumb.jpg"
          @year="2017"
          @rating="13"
          @numberSeason="5"
          @anchor="tvshows"
        />
        <ThumbMovie 
          @id="lucifer"
          @name="Lucifer"
          @route="application"
          @thumbPath="img/series/lucifer-thumb.jpg"
          @year="2019"
          @rating="13"
          @numberSeason="4"
          @anchor="tvshows"
        />
        <ThumbMovie 
          @id="dark"
          @name="Dark"
          @route="application"
          @thumbPath="img/series/dark-thumb.jpg"
          @year="2017"
          @rating="16"
          @numberSeason="3"
          @anchor="tvshows"
        />
      </div>
    </div>
    <div class="infos-wrapper">
      <span class="close" {{slider-close}}>
        Close
      </span>
      <DetailMovie 
        @id="rickandmorty"
        @name="Rick and Morty"
        @route="series.rickandmorty"
        @type="Series"
        @logoPath="img/series/rickandmorty-logo.png"
        @backgroundPath="img/series/rickandmorty-hero.jpg"
        @year="2017"
        @numberSeason="3"
        @rating="16"
      >
        Brilliant but boozy scientist Rick hijacks his fretful teenage grandson,
                  Morty, for
                  wild escapades in other worlds and alternate dimensions.
      </DetailMovie>
      <DetailMovie 
        @id="happy"
        @name="Happy"
        @route="series.happy"
        @type="Series"
        @logoPath="img/series/happy-logo.png"
        @backgroundPath="img/series/happy-hero.jpg"
        @year="2019"
        @numberSeason="2"
        @rating="16"
      >
        Hailey and Nick spend a father-daughter day together, but a gambling side
                        trip and a quick gig to "deliver a package" complicate their relationship.
      </DetailMovie>
      <DetailMovie 
        @id="disenchantment"
        @name="Disenchantment"
        @route="application"
        @type="Series"
        @logoPath="img/series/disenchantment-logo.png"
        @backgroundPath="img/series/disenchantment-hero.jpg"
        @year="2017"
        @numberSeason="2"
        @rating="13"
      >
        Princess Bean already has the wedding day blues when a mysterious figure
                        arrives, claiming he's her personal demon. Elfo hates his happy homeland.
      </DetailMovie>
      <DetailMovie 
        @id="papel"
        @name="la casa de Papel"
        @route="application"
        @type="Series"
        @logoPath="img/series/papel-logo.png"
        @backgroundPath="img/series/papel-hero.jpg"
        @year="2019"
        @numberSeason="3"
        @rating="16"
      >
        Eight thieves take hostages and lock themselves in the Royal Mint of Spain
                        as a criminal mastermind manipulates the police to carry out his plan.
      </DetailMovie>
      <DetailMovie 
        @id="b99"
        @name="Brooklyn 99"
        @route="application"
        @type="Series"
        @logoPath="img/series/b99-logo.png"
        @backgroundPath="img/series/b99-hero.jpg"
        @year="2017"
        @numberSeason="5"
        @rating="13"
      >
        Jake jumps into action when Terry's wife goes into labor at the precinct.
                        Meanwhile, an Internet outage forces the team to go old-school.
      </DetailMovie>
      <DetailMovie 
        @id="lucifer"
        @name="Lucifer"
        @route="application"
        @type="Series"
        @logoPath="img/series/lucifer-logo.png"
        @backgroundPath="img/series/lucifer-hero.jpg"
        @year="2019"
        @numberSeason="2"
        @rating="16"
      >
        While feeling the heat to return to hell, Lucifer makes time to
                        investigate how overeager paparazzi contributed to a young man's death.
      </DetailMovie>
      <DetailMovie 
        @id="dark"
        @name="Dark"
        @route="application"
        @type="Series"
        @logoPath="img/series/dark-logo.png"
        @backgroundPath="img/series/dark-hero.jpg"
        @year="2019"
        @numberSeason="2"
        @rating="16"
      >
        It's 1986, and Ulrich's brother, Mads, has been missing for a month.
                        Confusion reigns as past and present intertwine.
      </DetailMovie>
    </div>
  </div>
  {{!end slider 1}}
  <div class="slider relative s2" id="blockbusters">
    <h2>
      Blockbusters
    </h2>
    <div class="slider-frame relative left-0">
      <div class="slider-container flex relative" {{slider-over}} {{slider-show}}>
        <ThumbMovie 
          @id="swlj"
          @name="Star Wars: Episode VIII: The Last Jedi"
          @route="application"
          @thumbPath="img/movies/swlj-thumb.jpg"
          @year="2017"
          @rating="13"
          @duration="2h 31m"
          @anchor="blockbusters"
        />
        <ThumbMovie 
          @id="happy2"
          @name="Happy"
          @route="application"
          @thumbPath="img/series/happy-thumb.jpg"
          @year="2019"
          @rating="16"
          @numberSeason="2"
          @anchor="blockbusters"
        />
        <ThumbMovie 
          @id="disenchantment2"
          @name="Disenchantment"
          @route="application"
          @thumbPath="img/series/disenchantment-thumb.jpg"
          @year="2019"
          @rating="13"
          @numberSeason="2"
          @anchor="blockbusters"
        />
        <ThumbMovie 
          @id="papel2"
          @name="la casa de Papel"
          @route="application"
          @thumbPath="img/series/papel-thumb.jpg"
          @year="2017"
          @rating="16"
          @numberSeason="3"
          @anchor="blockbusters"
        />
        <ThumbMovie 
          @id="b992"
          @name="Brooklyn 99"
          @route="application"
          @thumbPath="img/series/b99-thumb.jpg"
          @year="2017"
          @rating="13"
          @numberSeason="5"
          @anchor="blockbusters"
        />
        <ThumbMovie 
          @id="lucifer2"
          @name="Lucifer"
          @route="application"
          @thumbPath="img/series/lucifer-thumb.jpg"
          @year="2019"
          @rating="13"
          @numberSeason="4"
          @anchor="blockbusters"
        />
        <ThumbMovie 
          @id="dark2"
          @name="Dark"
          @route="application"
          @thumbPath="img/series/dark-thumb.jpg"
          @year="2017"
          @rating="16"
          @numberSeason="3"
          @anchor="blockbusters"
        />
      </div>
    </div>
    <div class="infos-wrapper">
      <span class="close" {{slider-close}}>
        Close
      </span>
      <DetailMovie 
        @id="swlj"
        @name="Lucifer"
        @route="application"
        @type="Movie"
        @logoPath="img/movies/swlj-logo.png"
        @backgroundPath="img/movies/swlj-hero.png"
        @year="2019"
        @rating="13"
      >
        While feeling the heat to return to hell, Lucifer makes time to
                        investigate how overeager paparazzi contributed to a young man's death.
      </DetailMovie>
      <DetailMovie 
        @id="happy2"
        @name="Happy"
        @route="series.happy"
        @type="Series"
        @logoPath="img/series/happy-logo.png"
        @backgroundPath="img/series/happy-hero.jpg"
        @year="2019"
        @numberSeason="2"
        @rating="16"
      >
        Hailey and Nick spend a father-daughter day together, but a gambling side
                        trip and a quick gig to "deliver a package" complicate their relationship.
      </DetailMovie>
      <DetailMovie 
        @id="disenchantment2"
        @name="Disenchantment"
        @route="application"
        @type="Series"
        @logoPath="img/series/disenchantment-logo.png"
        @backgroundPath="img/series/disenchantment-hero.jpg"
        @year="2017"
        @numberSeason="2"
        @rating="13"
      >
        Princess Bean already has the wedding day blues when a mysterious figure
                        arrives, claiming he's her personal demon. Elfo hates his happy homeland.
      </DetailMovie>
      <DetailMovie 
        @id="papel2"
        @name="la casa de Papel"
        @route="application"
        @type="Series"
        @logoPath="img/series/papel-logo.png"
        @backgroundPath="img/series/papel-hero.jpg"
        @year="2019"
        @numberSeason="3"
        @rating="16"
      >
        Eight thieves take hostages and lock themselves in the Royal Mint of Spain
                        as a criminal mastermind manipulates the police to carry out his plan.
      </DetailMovie>
      <DetailMovie 
        @id="b992"
        @name="Brooklyn 99"
        @route="application"
        @type="Series"
        @logoPath="img/series/b99-logo.png"
        @backgroundPath="img/series/b99-hero.jpg"
        @year="2017"
        @numberSeason="5"
        @rating="13"
      >
        Jake jumps into action when Terry's wife goes into labor at the precinct.
                        Meanwhile, an Internet outage forces the team to go old-school.
      </DetailMovie>
      <DetailMovie 
        @id="lucifer2"
        @name="Lucifer"
        @route="application"
        @type="Series"
        @logoPath="img/series/lucifer-logo.png"
        @backgroundPath="img/series/lucifer-hero.jpg"
        @year="2019"
        @numberSeason="2"
        @rating="16"
      >
        While feeling the heat to return to hell, Lucifer makes time to
                        investigate how overeager paparazzi contributed to a young man's death.
      </DetailMovie>
      <DetailMovie 
        @id="dark2"
        @name="Dark"
        @route="application"
        @type="Series"
        @logoPath="img/series/dark-logo.png"
        @backgroundPath="img/series/dark-hero.jpg"
        @year="2019"
        @numberSeason="2"
        @rating="16"
      >
        It's 1986, and Ulrich's brother, Mads, has been missing for a month.
                        Confusion reigns as past and present intertwine.
      </DetailMovie>
    </div>
  </div>
  {{!end slider 1}}
</div>