<div id="hero" class="overflow-hidden">
  <div class="info-wrapper w-2/5 h-full pt-40 pr-48 pb-5 pl-12">
    <div class="w-24 flex items-center justify-between">
      <img src="img/t-logo.svg" alt="Triptyklazza" class="w-5" />
      <span class="uppercase text-gray-700 text-sm">
        Series
      </span>
    </div>
    <div class="w-4/5 mt-5 mr-0 mb-2 ml-0">
      <img src="img/series/rickandmorty-logo.png" alt="Rick And Morty" class="w-full" />
    </div>
    <div class="text-white flex font-thin justify-between items-center text-sm w-32">
      <p class="year">
        2017
      </p>
      <p class="rating">
        16+
      </p>
      <p class="duration">
        3 Seasons
      </p>
    </div>
    <div class="text-gray-600 font-thin text-lg mx-0 my-4">
      Brilliant but boozy scientist Rick hijacks his fretful teenage grandson, Morty, for
            wild escapades in other worlds and alternate dimensions.
    </div>
    <div class="flex justify-between">
      <LinkTo @route="series.rickandmorty" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2 py-2">
        Watch now
      </LinkTo>
      <div class="flex justify-between">
        <a href="" class="like block border border-white opacity-75 w-8 h-8 hover:opacity-100">
          Like
        </a>
        <a href="" class="unlike block border border-white opacity-75 w-8 h-8 hover:opacity-100">
          Don't like
        </a>
      </div>
    </div>
  </div>
  <img src="img/series/rickandmorty-hero.jpg" alt="Rick And Morty" class="title-image absolute top-0 right-0 w-4/5" />
</div>
<div class="hero-content pb-32">
  <div class="slider relative s1" id="tvshows">
    <h2>
      Tv Shows
    </h2>
    <div class="slider-frame relative left-0">
      <div class="slider-container flex relative" {{slider-over}} {{slider-show}}>
        <div class="slider-item" data-info="rickandmorty-infos">
          <img src="img/series/rickandmorty-thumb.jpg" alt="" />
          <div class="item-infos">
            <LinkTo @route="series.rickandmorty" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2">
              <span class="hidden">
                Watch now
              </span>
            </LinkTo>
            <h4 class="text-white sm:mt-2 sm:mb-1 sm:text-xs lg:my-3 lg:text-sm">
              Rick And Morty
            </h4>
            <div class="text-white flex font-thin justify-between items-center text-sm w-32">
              <p class="year">
                2017
              </p>
              <p class="rating">
                16+
              </p>
              <p class="duration">
                3 Seasons
              </p>
            </div>
            <a href="#tvshows" class="deploy p-5 block sm:p-0 md:pb-2 lg:pb-3 xl:pt-2">
              Info
            </a>
          </div>
        </div>
        <div class="slider-item" data-info="happy-infos">
          <img src="img/series/happy-thumb.jpg" alt="" />
          <div class="item-infos">
            <LinkTo @route="series.happy" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2">
              <span class="hidden">
                Watch now
              </span>
            </LinkTo>
            <h4 class="text-white sm:mt-2 sm:mb-1 sm:text-xs lg:my-3 lg:text-sm">
              Happy
            </h4>
            <div class="text-white flex font-thin justify-between items-center text-sm w-32">
              <p class="year">
                2019
              </p>
              <p class="rating">
                16+
              </p>
              <p class="duration">
                2 Seasons
              </p>
            </div>
            <a href="#tvshows" class="deploy p-5 block sm:p-0 md:pb-2 lg:pb-3 xl:pt-2">
              Info
            </a>
          </div>
        </div>
        <div class="slider-item" data-info="disenchantment-infos">
          <img src="img/series/disenchantment-thumb.jpg" alt="" />
          <div class="item-infos">
            <LinkTo @route="application" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2">
              <span class="hidden">
                Watch now
              </span>
            </LinkTo>
            <h4 class="text-white sm:mt-2 sm:mb-1 sm:text-xs lg:my-3 lg:text-sm">
              Disenchantment
            </h4>
            <div class="text-white flex font-thin justify-between items-center text-sm w-32">
              <p class="year">
                2019
              </p>
              <p class="rating">
                13+
              </p>
              <p class="duration">
                2 Seasons
              </p>
            </div>
            <a href="#tvshows" class="deploy p-5 block sm:p-0 md:pb-2 lg:pb-3 xl:pt-2">
              Info
            </a>
          </div>
        </div>
        <div class="slider-item" data-info="papel-infos">
          <img src="img/series/papel-thumb.jpg" alt="" />
          <div class="item-infos">
            <LinkTo @route="application" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2">
              <span class="hidden">
                Watch now
              </span>
            </LinkTo>
            <h4 class="text-white sm:mt-2 sm:mb-1 sm:text-xs lg:my-3 lg:text-sm">
              Money Heist
            </h4>
            <div class="text-white flex font-thin justify-between items-center text-sm w-32">
              <p class="year">
                2017
              </p>
              <p class="rating">
                16+
              </p>
              <p class="duration">
                3 Seasons
              </p>
            </div>
            <a href="#tvshows" class="deploy p-5 block sm:p-0 md:pb-2 lg:pb-3 xl:pt-2">
              Info
            </a>
          </div>
        </div>
        <div class="slider-item" data-info="b99-infos">
          <img src="img/series/b99-thumb.jpg" alt="" />
          <div class="item-infos">
            <LinkTo @route="application" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2">
              <span class="hidden">
                Watch now
              </span>
            </LinkTo>
            <h4 class="text-white sm:mt-2 sm:mb-1 sm:text-xs lg:my-3 lg:text-sm">
              Brookly Nine Nine
            </h4>
            <div class="text-white flex font-thin justify-between items-center text-sm w-32">
              <p class="year">
                2017
              </p>
              <p class="rating">
                13+
              </p>
              <p class="duration">
                5 Seasons
              </p>
            </div>
            <a href="#tvshows" class="deploy p-5 block sm:p-0 md:pb-2 lg:pb-3 xl:pt-2">
              Info
            </a>
          </div>
        </div>
        <div class="slider-item" data-info="lucifer-infos">
          <img src="img/series/lucifer-thumb.jpg" alt="" />
          <div class="item-infos">
            <LinkTo @route="application" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2">
              <span class="hidden">
                watch now
              </span>
            </LinkTo>
            <h4 class="text-white sm:mt-2 sm:mb-1 sm:text-xs lg:my-3 lg:text-sm">
              Lucifer
            </h4>
            <div class="text-white flex font-thin justify-between items-center text-sm w-32">
              <p class="year">
                2019
              </p>
              <p class="rating">
                13+
              </p>
              <p class="duration">
                4 Seasons
              </p>
            </div>
            <a href="#tvshows" class="deploy p-5 block sm:p-0 md:pb-2 lg:pb-3 xl:pt-2">
              Info
            </a>
          </div>
        </div>
        <div class="slider-item" data-info="dark-infos">
          <img src="img/series/dark-thumb.jpg" alt="" />
          <div class="item-infos">
            <LinkTo @route="application" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2">
              <span class="hidden">
                Watch now
              </span>
            </LinkTo>
            <h4 class="text-white sm:mt-2 sm:mb-1 sm:text-xs lg:my-3 lg:text-sm">
              Dark
            </h4>
            <div class="text-white flex font-thin justify-between items-center text-sm w-32">
              <p class="year">
                2017
              </p>
              <p class="rating">
                16+
              </p>
              <p class="duration">
                3 Seasons
              </p>
            </div>
            <a href="#tvshows" class="deploy p-5 block sm:p-0 md:pb-2 lg:pb-3 xl:pt-2">
              Info
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="infos-wrapper">
      <span class="close" {{slider-close}}>
        Close
      </span>
      <div class="info-container" id="rickandmorty-infos">
        <div class="info-wrapper w-2/5 h-full pt-40 pr-48 pb-5 pl-12">
          <div class="w-24 flex items-center justify-between">
            <img src="img/t-logo.svg" alt="Triptyklazza" class="w-5" />
            <span class="uppercase text-gray-700 text-sm">
              Series
            </span>
          </div>
          <div class="w-4/5 mt-5 mr-0 mb-2 ml-0">
            <img src="img/series/rickandmorty-logo.png" alt="Rick And Morty" class="w-full" />
          </div>
          <div class="text-white flex font-thin justify-between items-center text-sm w-32">
            <p class="year">
              2017
            </p>
            <p class="rating">
              16+
            </p>
            <p class="duration">
              3 Seasons
            </p>
          </div>
          <div class="text-gray-600 font-thin text-lg mx-0 my-4">
            Brilliant but boozy scientist Rick hijacks his fretful teenage grandson,
                        Morty, for
                        wild escapades in other worlds and alternate dimensions.
          </div>
          <div class="flex justify-between">
            <LinkTo @route="series.rickandmorty" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2">
              <span>
                Watch now
              </span>
            </LinkTo>
            <div class="flex justify-between">
              <a href="" class="like block border border-white opacity-75 w-8 h-8 hover:opacity-100">
                Like
              </a>
              <a href="" class="unlike block border border-white opacity-75 w-8 h-8 hover:opacity-100">
                Don't like
              </a>
            </div>
          </div>
        </div>
        <img src="img/series/rickandmorty-hero.jpg" alt="Rick And Morty" class="title-image absolute top-0 right-0 w-4/5" />
      </div>
      <div class="info-container" id="happy-infos">
        <div class="info-wrapper w-2/5 h-full pt-40 pr-48 pb-5 pl-12">
          <div class="w-24 flex items-center justify-between">
            <img src="img/t-logo.svg" alt="Triptyklazza" class="w-5" />
            <span class="uppercase text-gray-700 text-sm">
              Series
            </span>
          </div>
          <div class="w-4/5 mt-5 mr-0 mb-2 ml-0">
            <img src="img/series/happy-logo.png" alt="Happy" class="w-full" />
          </div>
          <div class="text-white flex font-thin justify-between items-center text-sm w-32">
            <p class="year">
              2019
            </p>
            <p class="rating">
              16+
            </p>
            <p class="duration">
              2 Seasons
            </p>
          </div>
          <div class="text-gray-600 font-thin text-lg mx-0 my-4">
            Hailey and Nick spend a father-daughter day together, but a gambling side
                        trip and a quick gig to "deliver a package" complicate their relationship.
          </div>
          <div class="flex justify-between">
            <LinkTo @route="series.happy" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2">
              <span>
                Watch now
              </span>
            </LinkTo>
            <div class="flex justify-between">
              <a href="" class="like block border border-white opacity-75 w-8 h-8 hover:opacity-100">
                Like
              </a>
              <a href="" class="unlike block border border-white opacity-75 w-8 h-8 hover:opacity-100">
                Don't like
              </a>
            </div>
          </div>
        </div>
        <img src="img/series/happy-hero.jpg" alt="Happy" class="title-image absolute top-0 right-0 w-4/5" />
      </div>
      <div class="info-container shown" id="disenchantment-infos">
        <div class="info-wrapper w-2/5 h-full pt-40 pr-48 pb-5 pl-12">
          <div class="w-24 flex items-center justify-between">
            <img src="img/t-logo.svg" alt="Triptyklazza" class="w-5" />
            <span class="uppercase text-gray-700 text-sm">
              Series
            </span>
          </div>
          <div class="w-4/5 mt-5 mr-0 mb-2 ml-0">
            <img src="img/series/disenchantment-logo.png" alt="Disenchantment" class="w-full" />
          </div>
          <div class="text-white flex font-thin justify-between items-center text-sm w-32">
            <p class="year">
              2017
            </p>
            <p class="rating">
              13+
            </p>
            <p class="duration">
              2 Seasons
            </p>
          </div>
          <div class="text-gray-600 font-thin text-lg mx-0 my-4">
            Princess Bean already has the wedding day blues when a mysterious figure
                        arrives, claiming he's her personal demon. Elfo hates his happy homeland.
          </div>
          <div class="flex justify-between">
            <LinkTo @route="application" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2">
              <span>
                Watch now
              </span>
            </LinkTo>
            <div class="flex justify-between">
              <a href="" class="like block border border-white opacity-75 w-8 h-8 hover:opacity-100">
                Like
              </a>
              <a href="" class="unlike block border border-white opacity-75 w-8 h-8 hover:opacity-100">
                Don't like
              </a>
            </div>
          </div>
        </div>
        <img src="img/series/disenchantment-hero.jpg" alt="Disenchantment" class="title-image absolute top-0 right-0 w-4/5" />
      </div>
      <div class="info-container" id="papel-infos">
        <div class="info-wrapper w-2/5 h-full pt-40 pr-48 pb-5 pl-12">
          <div class="w-24 flex items-center justify-between">
            <img src="img/t-logo.svg" alt="Triptyklazza" class="w-5" />
            <span class="uppercase text-gray-700 text-sm">
              Series
            </span>
          </div>
          <div class="w-4/5 mt-5 mr-0 mb-2 ml-0">
            <img src="img/series/papel-logo.png" alt="la casa de Papel" class="w-full" />
          </div>
          <div class="text-white flex font-thin justify-between items-center text-sm w-32">
            <p class="year">
              2019
            </p>
            <p class="rating">
              16+
            </p>
            <p class="duration">
              3 Parts
            </p>
          </div>
          <div class="text-gray-600 font-thin text-lg mx-0 my-4">
            Eight thieves take hostages and lock themselves in the Royal Mint of Spain
                        as a criminal mastermind manipulates the police to carry out his plan.
          </div>
          <div class="flex justify-between">
            <LinkTo @route="application" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2">
              <span>
                Watch now
              </span>
            </LinkTo>
            <div class="flex justify-between">
              <a href="" class="like block border border-white opacity-75 w-8 h-8 hover:opacity-100">
                Like
              </a>
              <a href="" class="unlike block border border-white opacity-75 w-8 h-8 hover:opacity-100">
                Don't like
              </a>
            </div>
          </div>
        </div>
        <img src="img/series/papel-hero.jpg" alt="Money Heist" class="title-image absolute top-0 right-0 w-4/5" />
      </div>
      <div class="info-container" id="b99-infos">
        <div class="info-wrapper w-2/5 h-full pt-40 pr-48 pb-5 pl-12">
          <div class="w-24 flex items-center justify-between">
            <img src="img/t-logo.svg" alt="Triptyklazza" class="w-5" />
            <span class="uppercase text-gray-700 text-sm">
              Series
            </span>
          </div>
          <div class="w-4/5 mt-5 mr-0 mb-2 ml-0">
            <img src="img/series/b99-logo.png" alt="Brooklyn 99" class="w-full" />
          </div>
          <div class="text-white flex font-thin justify-between items-center text-sm w-32">
            <p class="year">
              2017
            </p>
            <p class="rating">
              13+
            </p>
            <p class="duration">
              5 Seasons
            </p>
          </div>
          <div class="text-gray-600 font-thin text-lg mx-0 my-4">
            Jake jumps into action when Terry's wife goes into labor at the precinct.
                        Meanwhile, an Internet outage forces the team to go old-school.
          </div>
          <div class="flex justify-between">
            <LinkTo @route="application" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2">
              <span>
                Watch now
              </span>
            </LinkTo>
            <div class="flex justify-between">
              <a href="" class="like block border border-white opacity-75 w-8 h-8 hover:opacity-100">
                Like
              </a>
              <a href="" class="unlike block border border-white opacity-75 w-8 h-8 hover:opacity-100">
                Don't like
              </a>
            </div>
          </div>
        </div>
        <img src="img/series/b99-hero.jpg" alt="Brooklyn 99" class="title-image absolute top-0 right-0 w-4/5" />
      </div>
      <div class="info-container" id="lucifer-infos">
        <div class="info-wrapper w-2/5 h-full pt-40 pr-48 pb-5 pl-12">
          <div class="w-24 flex items-center justify-between">
            <img src="img/t-logo.svg" alt="Triptyklazza" class="w-5" />
            <span class="uppercase text-gray-700 text-sm">
              Series
            </span>
          </div>
          <div class="w-4/5 mt-5 mr-0 mb-2 ml-0">
            <img src="img/series/lucifer-logo.png" alt="Lucifer" class="w-full" />
          </div>
          <div class="text-white flex font-thin justify-between items-center text-sm w-32">
            <p class="year">
              2019
            </p>
            <p class="rating">
              16+
            </p>
            <p class="duration">
              2 Seasons
            </p>
          </div>
          <div class="text-gray-600 font-thin text-lg mx-0 my-4">
            While feeling the heat to return to hell, Lucifer makes time to
                        investigate how overeager paparazzi contributed to a young man's death.
          </div>
          <div class="flex justify-between">
            <LinkTo @route="application" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2">
              <span>
                Watch now
              </span>
            </LinkTo>
            <div class="flex justify-between">
              <a href="" class="like block border border-white opacity-75 w-8 h-8 hover:opacity-100">
                Like
              </a>
              <a href="" class="unlike block border border-white opacity-75 w-8 h-8 hover:opacity-100">
                Don't like
              </a>
            </div>
          </div>
        </div>
        <img src="img/series/lucifer-hero.jpg" alt="Happy" class="title-image absolute top-0 right-0 w-4/5" />
      </div>
      <div class="info-container" id="dark-infos">
        <div class="info-wrapper w-2/5 h-full pt-40 pr-48 pb-5 pl-12">
          <div class="w-24 flex items-center justify-between">
            <img src="img/t-logo.svg" alt="Triptyklazza" class="w-5" />
            <span class="uppercase text-gray-700 text-sm">
              Series
            </span>
          </div>
          <div class="w-4/5 mt-5 mr-0 mb-2 ml-0">
            <img src="img/series/dark-logo.png" alt="Happy" class="w-full" />
          </div>
          <div class="text-white flex font-thin justify-between items-center text-sm w-32">
            <p class="year">
              2019
            </p>
            <p class="rating">
              16+
            </p>
            <p class="duration">
              2 Seasons
            </p>
          </div>
          <div class="text-gray-600 font-thin text-lg mx-0 my-4">
            It's 1986, and Ulrich's brother, Mads, has been missing for a month.
                        Confusion reigns as past and present intertwine.
          </div>
          <div class="flex justify-between">
            <LinkTo @route="application" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2">
              <span>
                Watch now
              </span>
            </LinkTo>
            <div class="flex justify-between">
              <a href="" class="like block border border-white opacity-75 w-8 h-8 hover:opacity-100">
                Like
              </a>
              <a href="" class="unlike block border border-white opacity-75 w-8 h-8 hover:opacity-100">
                Don't like
              </a>
            </div>
          </div>
        </div>
        <img src="img/series/dark-hero.jpg" alt="Dark" class="title-image absolute top-0 right-0 w-4/5" />
      </div>
    </div>
  </div>
  {{!end slider 1}}
  <div class="slider relative s2" id="blockbusters">
    <h2>
      Blockbusters
    </h2>
    <div class="slider-frame relative left-0">
      <div class="slider-container flex relative" {{slider-over this}}>
        <div class="slider-item" data-info="swlj-infos">
          <img src="img/movies/swlj-thumb.jpg" alt="" />
          <div class="item-infos">
            <LinkTo @route="application" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2">
              <span class="hidden">
                Watch now
              </span>
            </LinkTo>
            <h4 class="text-white sm:mt-2 sm:mb-1 sm:text-xs lg:my-3 lg:text-sm">
              Star Wars: Episode VIII: The Last Jedi
            </h4>
            <div class="text-white flex font-thin justify-between items-center text-sm w-32">
              <p class="year">
                2017
              </p>
              <p class="rating">
                13+
              </p>
              <p class="duration">
                2h 31m
              </p>
            </div>
            <a href="#blockbusters" class="deploy p-5 block sm:p-0 md:pb-2 lg:pb-3 xl:pt-2">
              Info
            </a>
          </div>
        </div>
        <div class="slider-item" data-info="happy-infos">
          <img src="img/series/happy-thumb.jpg" alt="" />
          <div class="item-infos">
            <LinkTo @route="application" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2">
              <span class="hidden">
                Watch now
              </span>
            </LinkTo>
            <h4 class="text-white sm:mt-2 sm:mb-1 sm:text-xs lg:my-3 lg:text-sm">
              Happy
            </h4>
            <div class="text-white flex font-thin justify-between items-center text-sm w-32">
              <p class="year">
                2019
              </p>
              <p class="rating">
                16+
              </p>
              <p class="duration">
                2 Seasons
              </p>
            </div>
            <a href="#tvshows" class="deploy p-5 block sm:p-0 md:pb-2 lg:pb-3 xl:pt-2">
              Info
            </a>
          </div>
        </div>
        <div class="slider-item" data-info="disenchantment-infos">
          <img src="img/series/disenchantment-thumb.jpg" alt="" />
          <div class="item-infos">
            <LinkTo @route="application" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2">
              <span class="hidden">
                Watch now
              </span>
            </LinkTo>
            <h4 class="text-white sm:mt-2 sm:mb-1 sm:text-xs lg:my-3 lg:text-sm">
              Disenchantment
            </h4>
            <div class="text-white flex font-thin justify-between items-center text-sm w-32">
              <p class="year">
                2019
              </p>
              <p class="rating">
                13+
              </p>
              <p class="duration">
                2 Seasons
              </p>
            </div>
            <a href="#tvshows" class="deploy p-5 block sm:p-0 md:pb-2 lg:pb-3 xl:pt-2">
              Info
            </a>
          </div>
        </div>
        <div class="slider-item" data-info="papel-infos">
          <img src="img/series/papel-thumb.jpg" alt="" />
          <div class="item-infos">
            <LinkTo @route="application" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2">
              <span class="hidden">
                Watch now
              </span>
            </LinkTo>
            <h4 class="text-white sm:mt-2 sm:mb-1 sm:text-xs lg:my-3 lg:text-sm">
              Money Heist
            </h4>
            <div class="text-white flex font-thin justify-between items-center text-sm w-32">
              <p class="year">
                2017
              </p>
              <p class="rating">
                16+
              </p>
              <p class="duration">
                3 Seasons
              </p>
            </div>
            <a href="#tvshows" class="deploy p-5 block sm:p-0 md:pb-2 lg:pb-3 xl:pt-2">
              Info
            </a>
          </div>
        </div>
        <div class="slider-item" data-info="b99-infos">
          <img src="img/series/b99-thumb.jpg" alt="" />
          <div class="item-infos">
            <LinkTo @route="application" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2">
              <span class="hidden">
                Watch now
              </span>
            </LinkTo>
            <h4 class="text-white sm:mt-2 sm:mb-1 sm:text-xs lg:my-3 lg:text-sm">
              Brookly Nine Nine
            </h4>
            <div class="text-white flex font-thin justify-between items-center text-sm w-32">
              <p class="year">
                2017
              </p>
              <p class="rating">
                13+
              </p>
              <p class="duration">
                5 Seasons
              </p>
            </div>
            <a href="#tvshows" class="deploy p-5 block sm:p-0 md:pb-2 lg:pb-3 xl:pt-2">
              Info
            </a>
          </div>
        </div>
        <div class="slider-item" data-info="lucifer-infos">
          <img src="img/series/lucifer-thumb.jpg" alt="" />
          <div class="item-infos">
            <LinkTo @route="application" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2">
              <span class="hidden">
                Watch now
              </span>
            </LinkTo>
            <h4 class="text-white sm:mt-2 sm:mb-1 sm:text-xs lg:my-3 lg:text-sm">
              Lucifer
            </h4>
            <div class="text-white flex font-thin justify-between items-center text-sm w-32">
              <p class="year">
                2019
              </p>
              <p class="rating">
                13+
              </p>
              <p class="duration">
                4 Seasons
              </p>
            </div>
            <a href="#tvshows" class="deploy p-5 block sm:p-0 md:pb-2 lg:pb-3 xl:pt-2">
              Info
            </a>
          </div>
        </div>
        <div class="slider-item" data-info="dark-infos">
          <img src="img/series/dark-thumb.jpg" alt="" />
          <div class="item-infos">
            <LinkTo @route="application" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2">
              <span class="hidden">
                Watch now
              </span>
            </LinkTo>
            <h4 class="text-white sm:mt-2 sm:mb-1 sm:text-xs lg:my-3 lg:text-sm">
              Dark
            </h4>
            <div class="text-white flex font-thin justify-between items-center text-sm w-32">
              <p class="year">
                2017
              </p>
              <p class="rating">
                16+
              </p>
              <p class="duration">
                3 Seasons
              </p>
            </div>
            <a href="#tvshows" class="deploy p-5 block sm:p-0 md:pb-2 lg:pb-3 xl:pt-2">
              Info
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="infos-wrapper">
      <div class="info-container" id="swlj-infos">
        <div class="info-wrapper w-2/5 h-full pt-40 pr-48 pb-5 pl-12">
          <div class="w-24 flex items-center justify-between">
            <img src="img/t-logo.svg" alt="Triptyklazza" class="w-5" />
            <span class="uppercase text-gray-700 text-sm">
              Series
            </span>
          </div>
          <div class="w-4/5 mt-5 mr-0 mb-2 ml-0">
            <img src="img/series/rickandmorty-logo.png" alt="Rick And Morty" class="w-full" />
          </div>
          <div class="text-white flex font-thin justify-between items-center text-sm w-32">
            <p class="year">
              2017
            </p>
            <p class="rating">
              16+
            </p>
            <p class="duration">
              3 Seasons
            </p>
          </div>
          <div class="text-gray-600 font-thin text-lg mx-0 my-4">
            Brilliant but boozy scientist Rick hijacks his fretful teenage grandson,
                        Morty, for
                        wild escapades in other worlds and alternate dimensions.
          </div>
          <div class="flex justify-between">
            <LinkTo @route="series.rickandmorty" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2">
              Watch now
            </LinkTo>
            <div class="flex justify-between">
              <a href="" class="like block border border-white opacity-75 w-8 h-8 hover:opacity-100">
                Like
              </a>
              <a href="" class="unlike block border border-white opacity-75 w-8 h-8 hover:opacity-100">
                Don't like
              </a>
            </div>
          </div>
        </div>
        <img src="img/series/rickandmorty-hero.jpg" alt="Rick And Morty" class="title-image absolute top-0 right-0 w-4/5" />
      </div>
      <div class="info-container" id="happy-infos">
        <div class="info-wrapper w-2/5 h-full pt-40 pr-48 pb-5 pl-12">
          <div class="w-24 flex items-center justify-between">
            <img src="img/t-logo.svg" alt="Triptyklazza" class="w-5" />
            <span class="uppercase text-gray-700 text-sm">
              Series
            </span>
          </div>
          <div class="w-4/5 mt-5 mr-0 mb-2 ml-0">
            <img src="img/series/happy-logo.png" alt="Happy" class="w-full" />
          </div>
          <div class="text-white flex font-thin justify-between items-center text-sm w-32">
            <p class="year">
              2019
            </p>
            <p class="rating">
              16+
            </p>
            <p class="duration">
              2 Seasons
            </p>
          </div>
          <div class="text-gray-600 font-thin text-lg mx-0 my-4">
            Hailey and Nick spend a father-daughter day together, but a gambling side
                        trip and a quick gig to "deliver a package" complicate their relationship.
          </div>
          <div class="flex justify-between">
            <LinkTo @route="series.happy" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2">
              Watch now
            </LinkTo>
            <div class="flex justify-between">
              <a href="" class="like block border border-white opacity-75 w-8 h-8 hover:opacity-100">
                Like
              </a>
              <a href="" class="unlike block border border-white opacity-75 w-8 h-8 hover:opacity-100">
                Don't like
              </a>
            </div>
          </div>
        </div>
        <img src="img/series/happy-hero.jpg" alt="Happy" class="title-image absolute top-0 right-0 w-4/5" />
      </div>
      <div class="info-container" id="disenchantment-infos">
        <div class="info-wrapper w-2/5 h-full pt-40 pr-48 pb-5 pl-12">
          <div class="w-24 flex items-center justify-between">
            <img src="img/t-logo.svg" alt="Triptyklazza" class="w-5" />
            <span class="uppercase text-gray-700 text-sm">
              Series
            </span>
          </div>
          <div class="w-4/5 mt-5 mr-0 mb-2 ml-0">
            <img src="img/series/disenchantment-logo.png" alt="Disenchantment" class="w-full" />
          </div>
          <div class="text-white flex font-thin justify-between items-center text-sm w-32">
            <p class="year">
              2017
            </p>
            <p class="rating">
              13+
            </p>
            <p class="duration">
              2 Seasons
            </p>
          </div>
          <div class="text-gray-600 font-thin text-lg mx-0 my-4">
            Princess Bean already has the wedding day blues when a mysterious figure
                        arrives, claiming he's her personal demon. Elfo hates his happy homeland.
          </div>
          <div class="flex justify-between">
            <LinkTo @route="application" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2">
              Watch now
            </LinkTo>
            <div class="flex justify-between">
              <a href="" class="like block border border-white opacity-75 w-8 h-8 hover:opacity-100">
                Like
              </a>
              <a href="" class="unlike block border border-white opacity-75 w-8 h-8 hover:opacity-100">
                Don't like
              </a>
            </div>
          </div>
        </div>
        <img src="img/series/disenchantment-hero.jpg" alt="Disenchantment" class="title-image absolute top-0 right-0 w-4/5" />
      </div>
      <div class="info-container" id="papel-infos">
        <div class="info-wrapper w-2/5 h-full pt-40 pr-48 pb-5 pl-12">
          <div class="w-24 flex items-center justify-between">
            <img src="img/t-logo.svg" alt="Triptyklazza" class="w-5" />
            <span class="uppercase text-gray-700 text-sm">
              Series
            </span>
          </div>
          <div class="w-4/5 mt-5 mr-0 mb-2 ml-0">
            <img src="img/series/papel-logo.png" alt="la casa de Papel" class="w-full" />
          </div>
          <div class="text-white flex font-thin justify-between items-center text-sm w-32">
            <p class="year">
              2019
            </p>
            <p class="rating">
              16+
            </p>
            <p class="duration">
              3 Parts
            </p>
          </div>
          <div class="text-gray-600 font-thin text-lg mx-0 my-4">
            Eight thieves take hostages and lock themselves in the Royal Mint of Spain
                        as a criminal mastermind manipulates the police to carry out his plan.
          </div>
          <div class="flex justify-between">
            <LinkTo @route="application" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2">
              Watch now
            </LinkTo>
            <div class="flex justify-between">
              <a href="" class="like block border border-white opacity-75 w-8 h-8 hover:opacity-100">
                Like
              </a>
              <a href="" class="unlike block border border-white opacity-75 w-8 h-8 hover:opacity-100">
                Don't like
              </a>
            </div>
          </div>
        </div>
        <img src="img/series/papel-hero.jpg" alt="Money Heist" class="title-image absolute top-0 right-0 w-4/5" />
      </div>
      <div class="info-container" id="b99-infos">
        <div class="info-wrapper w-2/5 h-full pt-40 pr-48 pb-5 pl-12">
          <div class="w-24 flex items-center justify-between">
            <img src="img/t-logo.svg" alt="Triptyklazza" class="w-5" />
            <span class="uppercase text-gray-700 text-sm">
              Series
            </span>
          </div>
          <div class="w-4/5 mt-5 mr-0 mb-2 ml-0">
            <img src="img/series/b99-logo.png" alt="Brooklyn 99" class="w-full" />
          </div>
          <div class="text-white flex font-thin justify-between items-center text-sm w-32">
            <p class="year">
              2017
            </p>
            <p class="rating">
              13+
            </p>
            <p class="duration">
              5 Seasons
            </p>
          </div>
          <div class="text-gray-600 font-thin text-lg mx-0 my-4">
            Jake jumps into action when Terry's wife goes into labor at the precinct.
                        Meanwhile, an Internet outage forces the team to go old-school.
          </div>
          <div class="flex justify-between">
            <LinkTo @route="application" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2">
              Watch now
            </LinkTo>
            <div class="flex justify-between">
              <a href="" class="like block border border-white opacity-75 w-8 h-8 hover:opacity-100">
                Like
              </a>
              <a href="" class="unlike block border border-white opacity-75 w-8 h-8 hover:opacity-100">
                Don't like
              </a>
            </div>
          </div>
        </div>
        <img src="img/series/b99-hero.jpg" alt="Brooklyn 99" class="title-image absolute top-0 right-0 w-4/5" />
      </div>
      <div class="info-container" id="lucifer-infos">
        <div class="info-wrapper w-2/5 h-full pt-40 pr-48 pb-5 pl-12">
          <div class="w-24 flex items-center justify-between">
            <img src="img/t-logo.svg" alt="Triptyklazza" class="w-5" />
            <span class="uppercase text-gray-700 text-sm">
              Series
            </span>
          </div>
          <div class="w-4/5 mt-5 mr-0 mb-2 ml-0">
            <img src="img/series/lucifer-logo.png" alt="Lucifer" class="w-full" />
          </div>
          <div class="text-white flex font-thin justify-between items-center text-sm w-32">
            <p class="year">
              2019
            </p>
            <p class="rating">
              16+
            </p>
            <p class="duration">
              2 Seasons
            </p>
          </div>
          <div class="text-gray-600 font-thin text-lg mx-0 my-4">
            While feeling the heat to return to hell, Lucifer makes time to
                        investigate how overeager paparazzi contributed to a young man's death.
          </div>
          <div class="flex justify-between">
            <LinkTo @route="application" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2">
              Watch now
            </LinkTo>
            <div class="flex justify-between">
              <a href="" class="like block border border-white opacity-75 w-8 h-8 hover:opacity-100">
                Like
              </a>
              <a href="" class="unlike block border border-white opacity-75 w-8 h-8 hover:opacity-100">
                Don't like
              </a>
            </div>
          </div>
        </div>
        <img src="img/series/lucifer-hero.jpg" alt="Happy" class="title-image absolute top-0 right-0 w-4/5" />
      </div>
      <div class="info-container" id="dark-infos">
        <div class="info-wrapper w-2/5 h-full pt-40 pr-48 pb-5 pl-12">
          <div class="w-24 flex items-center justify-between">
            <img src="img/t-logo.svg" alt="Triptyklazza" class="w-5" />
            <span class="uppercase text-gray-700 text-sm">
              Series
            </span>
          </div>
          <div class="w-4/5 mt-5 mr-0 mb-2 ml-0">
            <img src="img/series/dark-logo.png" alt="Happy" class="w-full" />
          </div>
          <div class="text-white flex font-thin justify-between items-center text-sm w-32">
            <p class="year">
              2019
            </p>
            <p class="rating">
              16+
            </p>
            <p class="duration">
              2 Seasons
            </p>
          </div>
          <div class="text-gray-600 font-thin text-lg mx-0 my-4">
            It's 1986, and Ulrich's brother, Mads, has been missing for a month.
                        Confusion reigns as past and present intertwine.
          </div>
          <div class="flex justify-between">
            <LinkTo @route="application" class="watch text-white bg-blue-500 rounded-sm uppercase font-thin text-center w-48 py-1 px-5 hover:bg-blue-400 mb-2">
              Watch now
            </LinkTo>
            <div class="flex justify-between">
              <a href="" class="like block border border-white opacity-75 w-8 h-8 hover:opacity-100">
                Like
              </a>
              <a href="" class="unlike block border border-white opacity-75 w-8 h-8 hover:opacity-100">
                Don't like
              </a>
            </div>
          </div>
        </div>
        <img src="img/series/dark-hero.jpg" alt="Dark" class="title-image absolute top-0 right-0 w-4/5" />
      </div>
    </div>
  </div>
  {{!end slider 1}}
</div>
{{!-- {{mouseover}} --}}